<div id="header-medio">
    <img id="banner"
        src="https://img.freepik.com/foto-gratis/fondo-futurista-abstracto-diseno-3d_1361-3532.jpg?w=996&t=st=1653867080~exp=1653867680~hmac=0a703d71030af7bffa88b7cb810878e0fcd1e9f276d95a3395fa2ea4a1c91c8e">
</div>
<div class="card mat-card" id="acercade">
    <div *ngIf="load; else nocarga">
        <div *ngFor="let persona of personas">
            <div class="mat-card-title">
                <div class="presentacion">
                    <img [src]="persona.foto" id="imagen-perfil" style="
          border-radius: 100%;
          width:15vw;
          height: 40vh;
          margin-top: -150px" />
                    <p id="text-nombreCompleto">{{persona.nombre}}</p>
                    <p id="info-titulo">{{persona.titulo}}</p>
                    <p id="info-ubicacion">{{persona.ubicacion}}</p>
                    <p id="info-contacto">{{persona.contacto}}</p>
                </div>
                <div class="mat-card-content">
                    <h2>Acerca de
                    </h2>
                    <h2 id="text-acercade">{{persona.descripcion}}</h2>
                </div>
            </div>
        </div>
    </div>
</div>
<ng-template #nocarga>
    <div class="card mat-card">
        <ul>
            <h1>Cargando..</h1>
            <mat-spinner color="accent"></mat-spinner>
        </ul>
    </div>

</ng-template>
<router-outlet></router-outlet>