<div class="card mat-card" id="educacion">
    <div class="mat-card-title">
        <h2>Educación</h2>
    </div>
    <div>
        <ul class="item-list">
            <div *ngIf="load; else nocarga">
            <li *ngFor="let educacion of educacion">
                <div class="data-container">
                    <div class="logo-image-container">
                        <img class="logos" [src]="educacion.logo">
                        <div class="seccion-lista">
                            <div>
                                <h4>{{educacion.institucion}}</h4>
                                <p>{{educacion.titulo}}</p>
                                <p><time>{{educacion.inicio}}</time> - <time>{{educacion.fin}}</time></p>
                                <p>{{educacion.ubicacion}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            </div>
        </ul>
    </div>
</div>
<ng-template #nocarga>
    <div class="card mat-card">
        <ul>
            <h1>Cargando..</h1>
            <mat-spinner color="accent"></mat-spinner>
        </ul>
    </div>

</ng-template>
<router-outlet></router-outlet>