<div class="card mat-card" id="experiencia">
    <div class="mat-card-title">
        <h2>Experiencia</h2>
    </div>
    <div>
        <ul class="item-list">
            <div *ngIf="load; else nocarga">
            <li *ngFor="let experiencia of experiencias">
                <div class="data-container">
                    <div class="logo-image-container">
                        <img class="logos" [src]="experiencia.logo">
                        <div class="seccion-lista">
                            <div>
                                <h3>{{experiencia.empresa}}</h3>
                                <p>{{experiencia.puesto}}</p>
                                <p>{{experiencia.tipo}}</p>
                                <p><time>{{experiencia.inicio}}</time> - <time>{{experiencia.fin}}</time></p>                            </div>
                        </div>
                    </div>
                </div>
            </li>
            </div>
        </ul>
    </div>
</div>
<ng-template #nocarga>
    <div class="card mat-card">
        <ul>
            <h1>Cargando..</h1>
            <mat-spinner color="accent"></mat-spinner>
        </ul>
    </div>

</ng-template>
<router-outlet></router-outlet>